.clients {

    &__title {
        @extend %h2;
    }

    &__list {
        gap: 30px;
    }

    &__link {
        display: flex;
        width: 170px;
        height: 92px;
        border-radius: 4px;
        background-color: var(--white);
        border: 1px solid var(--networks);
        align-items: center;
        justify-content: center;
        color: var(--networks);
        
        &:hover,
        &:focus {
            border: 1px solid var(--blue);
            color: var(--blue);
            transition: color 250ms var(--cubic), border 250ms var(--cubic);
        }
    }

    &__icon {
        display: flex;
        fill: currentColor;
    }
}